/*
Author: Braden Mayfield
Date: 10/28/23
*/

:root {
	--blanks: #905151;
	--bgs: #D77B7B;
	--text: #FFF5F5;
}

html {
	background-color: #551B1B;
	box-sizing: border-box;
	font-family: "Times New Roman";
}

.wrap {
	display: grid;
}

/*header*/

header > h1 {
	background-color: var(--bgs);
	color: var(--text);
	text-align: center;
	font-size: 2vmax;
	border: 2px double #FFFDD0;
}

/*Table*/

table {
	height: 50vmax
}

th {
	background-color: var(--bgs);
	color: var(--text);
	border: 2px double #FFFDD0;
	font-size: 1vmax
}

.blanks {
	background-color: var(--blanks);
	color: var(--text)
}